@use '../helpers' as *;

.footer {
    color: var(--color-light);

    @include mobile {
        background-color: var(--color-dark-alt);
    }

    &__wrapper {
        @include mobile-above {
            background-color: var(--color-dark-alt);
            border-radius: rem(45) rem(45) 0 0;
            padding: rem(55) rem(60) rem(50);
        }

        @include mobile {
            padding-top: rem(50);
            padding-bottom: rem(30);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        column-gap: 1rem;

        @include tablet-above {
            justify-content: space-between;
        }

        @include tablet {
            flex-direction: column;
            row-gap: rem(35);
        }

        @include mobile-above {
            padding-bottom: rem(66);
        }
    }

    &__logo {
        max-width: rem(180);

        @include mobile {
            max-width: rem(144);
        }
    }

    &__menu {
        &-list {
            display: flex;
            align-items: center;
            column-gap: rem(40);

            @include mobile {
                flex-direction: column;
                row-gap: rem(15);
            }
        }

        &-link {
            @include hover {
                text-decoration: underline;
            }
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        padding-bottom: rem(51);
        border-bottom: rem(1) solid var(--color-light);

        @include tablet {
            flex-direction: column;
            row-gap: rem(27);
        }

        @include laptop-above {
            // display: grid;
            // grid-template-columns: auto 1fr;
            // column-gap: rem(100);
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: rem(27);
        align-items: start;

        @include tablet {
            align-items: center;
        }

        @include mobile {
            padding-top: rem(37);
        }

        &-body {
            display: flex;
            flex-direction: column;
            row-gap: rem(20);

            @include tablet {
                align-items: center;
                row-gap: rem(15);
            }

            p {
                margin-bottom: 0;

                @include tablet {
                    text-align: center;
                }

                a {
                    text-decoration: none;

                    @include hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    &__form {
        background-color: var(--color-gray-alt-2);

        &-inner {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: rem(20);
            padding: rem(58) rem(40);

            @include mobile {
                flex-direction: column;
                row-gap: rem(22);
                padding: rem(30);
            }
        }

        &-input {
            max-width: rem(285);
            height: rem(67);
            padding-inline: rem(35);
            color: var(--color-light);
            background-color: inherit;
            border: 1px solid var(--color-light);
            border-radius: rem(14);

            @include hover {
                opacity: 0.8;
            }

            @include mobile {
                padding-inline: rem(20);
            }

            &:focus {
                border-color: var(--color-accent);
                outline: none;
            }

            &::placeholder {
                color: var(--color-light);
            }
        }

        &-button {
            color: var(--color-dark);
            background-color: var(--color-accent);
            width: 100%;
            max-width: rem(249);

            @include hover {
                color: var(--color-light);
                background-color: var(--color-dark);
            }
        }
    }

    &__copyright {
        display: flex;
        column-gap: rem(40);
        padding-top: fluid(50, 30);

        @include mobile {
            flex-direction: column;
            align-items: center;
            row-gap: rem(15);
        }

        p {
            margin-bottom: 0;
        }
    }
}