@use "../helpers" as *;

.header {
  padding-top: fluid(60, 30);

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    align-items: center;
  }

  &__logo-image {
    max-width: rem(220);

    @include tablet {
        max-width: rem(120);
    }
  }

  &__overlay {
    @include mobile-above {
      display: contents;
    }

    @include mobile {
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 3rem;
      padding: 1rem;
      background-color: var(--color-light);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;

        translate: 100%;
      }
    }
  }

  &__menu {
    font-size: rem(20);

    @include tablet {
        font-size: rem(14);
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: fluid(40, 20);

      @include mobile {
        flex-direction: column;
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 48px;

      @include hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }

  &__button {
    @include tablet {
        font-size: rem(14);
    }
    
    @include mobile {
        width: 100%;
        max-width: rem(300);
        align-self: center;
    }
  }
}
