@use '../helpers' as *;

.icon {
    display: inline-flex;
    align-items: center;
    column-gap: rem(15);

    &::before {
        --size: #{rem(41)};

        @include square(var(--size));

        content: '';
        flex-shrink: 0;
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    &--top-right-accent {
        &::before {
            background-image: url(../../icons/arrow-top-right_accent.svg);
            background-color: var(--color-dark-alt);
        }
    }

    &--top-right-black {
        &::before {
            background-image: url(../../icons/arrow-top-right_black.svg);
            background-color: var(--color-light);
        }
    }
}