@use '../helpers' as *;

.process {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: fluid(30, 20);
        counter-reset: custom-counter;
        list-style: none;
    }

    &__item {
        counter-increment: custom-counter;
    }

    &__accordion {
        --indicatorVerticalRotate: 90deg;

        padding: fluid(40, 30) fluid(60, 30);
        background-color: var(--color-gray);
        border: var(--border);
        border-radius: rem(45);
        box-shadow: var(--shadow);
        transition-duration: var(--transition-duration);

        @include hover {
            background-color: var(--color-accent);
        }

        &[open] {
            --indicatorVerticalRotate: 0deg;

            background-color: var(--color-accent);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: rem(50);
            cursor: pointer;
            user-select: none;

            @include mobile {
                column-gap: rem(28);
            }
        }

        &-title {
            @include fluid-text(30, 18);

            display: flex;
            align-items: center;
            column-gap: rem(25);

            @include mobile {
                column-gap: rem(33);
            }

            &::before {
                content: '0' counter(custom-counter);
                font-size: 2em;

                @include mobile {
                    font-size: rem(30);
                }
            }
        }

        &-indicator {
            @include flex-center;
            @include square(58px);

            flex-shrink: 0;
            position: relative;
            background-color: var(--color-gray);
            border: var(--border);
            border-radius: 50%;

            @include mobile {
                @include square(30px);
            }

            &::before,
            &::after {
                @include abs-center;

                content: '';
                width: 45%;
                height: 10%;
                background-color: var(--color-dark);
            }

            &::after {
                rotate: var(--indicatorVerticalRotate);
                transition-duration: var(--transition-duration);
            }
        }

        &-body {
            margin-top: rem(30);
            padding-top: rem(30);
            border-top: var(--border);
        }
    }
}