@use '../helpers' as *;

.service-card {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    min-height: rem(310);
    padding: rem(50);
    border: var(--border);
    border-radius: rem(45);
    box-shadow: var(--shadow);

    @include mobile {
        display: grid;
        grid-template-areas: 
            'title title'
            'link image';
        row-gap: rem(27);
        column-gap: 1rem;
    }

    @include tablet-above {
        max-width: rem(600);
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            display: contents;
        }
    }

    &__title {
        display: inline-flex;
        flex-direction: column;
        align-items: start;

        @include mobile {
            grid-area: title;
        }
    }

    &__link {
        font-size: rem(20);
        line-height: 1.4;

        @include hover {
            opacity: 60%;
        }

        @include mobile {
            grid-area: link;
            align-self: end;
        }

        &:nth-child(3n + 3) {
            color: var(--color-light);
        }

        &--label {
            @include mobile {
                @include visually-hidden;
            }
        }
    }

    &__image {
        @include mobile {
            grid-area: image;
        }
    }
}