@use '../helpers' as *;

.team {
    &__link {
        display: flex;

         @include mobile-above {
            justify-content: end;
        }

        @include mobile {
            justify-content: center;
        }
    }
    &__button {
        margin-top: rem(40);
        padding-inline: rem(76);

        @include mobile-above {
            max-width: rem(270);
        }

        @include mobile {
            width: 100%;
            max-width: rem(390);
        }
    }
}