@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'blocks/button';
@use 'blocks/burger-button';
@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/section';
@use 'blocks/tile';
@use 'blocks/grid';
@use 'blocks/service-card';
@use 'blocks/icon';
@use 'blocks/banner';
@use 'blocks/services';
@use 'blocks/studies';
@use 'blocks/process';
@use 'blocks/person-card';
@use 'blocks/team';
@use 'blocks/radios';
@use 'blocks/radio';
@use 'blocks/field';
@use 'blocks/contact-us';
@use 'blocks/soc1al';
@use 'blocks/footer';